@model IEnumerable<MvcProject_Elias.Models.ExamDetail>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultPublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Traine.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultPublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MCQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evidence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Traine.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ExamDetailsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ExamDetailsID })
            </td>
        </tr>
    }

</table>
